@import "src/styles/mixins";
@import "src/styles/vars";

.advantages__list {
  @include list-style;
  
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

  @media (min-width: 950px) {
    margin-top: 90px;
    margin-bottom: 70px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__prev {
  width: 140px;
  height: 140px;
  border-radius: 50%;

  @media (min-width: 950px) {
    width: 300px;
    height: 300px;
  }
}

.advantages__description {
  text-align: center;
  font-size: 14px;
  line-height: 17px;

  @media (min-width: 950px) {
    font-size: 24px;
    line-height: 30px;
  }
}