@font-face {
  font-family: "Arsenal-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Arsenal-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Arsenal-Bold";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Arsenal-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Adamina.woff2") format("woff2");
}
