*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  position: relative;
  //min-width: 375px;
  margin: 0 auto;
  //-webkit-transform:translate3d(0,0,0);
  font-family: 'Arsenal-Regular', serif;  
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.section__heading {
  font-family: "Arsenal-Bold", serif;  
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}