*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  position: relative;
  //min-width: 375px;
  margin: 0 auto;
  //-webkit-transform:translate3d(0,0,0);
  font-family: 'Arsenal-Regular', serif;  
}

// sticky footer here
.viev {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}
// sticky footer here

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section__heading {
  font-family: "Arsenal-Bold", serif;  
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: black;

  &--apartments {
    display: none;
    
    @media (min-width: 950px) {
      display: block;
    }
  }

  &--apart {
    font-family: "Arsenal-Regular";
    text-align: left;
    text-transform: none;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    @media (min-width: 950px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &--advantages {
    font-size: 14px;
    line-height: 17px;

    @media (min-width: 950px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

