@mixin list-style () {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin background ($background-position, $background-repeat) {
  background-position: $background-position;
  background-repeat: $background-repeat;
}

@mixin icon-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
