@import "src/styles/mixins";
@import "src/styles/vars";

.contacts {
  display: flex;

  &__list {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
  }

  &__item {
    color: white;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    
    &--adress {
      color: white;
      margin-right: 65px;
      margin-left: 20px;
    }
  }

  &__link {
    color: white;

    &:visited {
      color: white;
    }
  }

  &__adress {
    color: white;
  }

  &__icon {
    margin-left: 20px;

    &--map {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}

.contacts__discription {
  margin: 0;
}