@import "src/styles/mixins";
@import "src/styles/vars";

.contacts {
  display: flex;

  &__item {
    color: white;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    
    &--adress {
      position: relative;
      color: white;
      margin-right: 65px;
      margin-left: 20px;
    }

    @media (min-width: 950px) {
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__link {
    color: white;

    &:visited {
      color: white;
    }
  }

  &__adress {
    color: white;
  }

  &__icon {

    &--tel {
      margin-left: 10px;
    }

    &--map {
      position: absolute;
      top: 0;
      right: -20px;
    }
  }
}

.contacts__list {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  @media (min-width: 950px) {
    flex-direction: row;
    align-items: center;
  }
}

.contacts__list--full {
  display: none;

  @media (min-width: 950px) {
    display: flex;
  }
}

.contacts__list--mobile{
  display: flex;
  
  @media (min-width: 950px) {
    display: none;
  }
}

.contacts__description {
  margin: 0;
}

.contacts__number {
  font-size: 17px;
  line-height: 23px;
}