@import "src/styles/mixins";
@import "src/styles/vars";

.main__heading {
  color: floralwhite;
  font-family: "Arsenal-Bold", serif;  

  text-align: center;
  margin-top: 300px;
}

.hero {
  width: 100%;
  min-height: 516px;
  padding-top: 30px;
  padding-bottom: 70px;

  // background-image: url(../../img/hero-bg.jpg);
  
  background-color: #80AAD4;
  background-position: top center;
  background-repeat: no-repeat;
}

.hero__wrapper {
  width: 100%;
  display: flex;
}

.hero__logo {
  color: white;
  font-family: "Adamina", serif;  
  border-bottom: 3px solid white;
  border-top: 3px solid white;

  font-weight: 400;
  font-size: 48px;
  line-height: 65px;

  margin-right: auto;
}