@import "src/styles/mixins";
@import "src/styles/vars";

.main__heading {
  color: floralwhite;
  text-align: center;
}

.hero {
  width: 100%;
  min-height: 516px;
  padding-top: 30px;
  padding-bottom: 70px;
  background-image: url(../../img/hero-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.hero__wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 300px;
}

.hero__logo {
  margin-right: auto;
}