@import "src/styles/mixins";
@import "src/styles/vars";

.main__heading {
  display: none;

  @media (min-width: 950px) {
    display: block;
    color: floralwhite;
    font-family: "Arsenal-Bold", serif;  
  
    text-align: center;
    margin-top: 300px;
  }
}

.hero {
  width: 100%;
  min-height: 72px;
  padding-top: 12px;
  background-color: #869BA0;

  @media (min-width: 950px) {
    min-height: 516px;
    padding-top: 30px;
    padding-bottom: 70px;
  
    // background-image: url(hero-bg.jpg);
    // background-size: cover;
    // background-attachment: fixed;
    // background-position: center 600px;
  
    background-color: #80AAD4;
  }
}

.hero__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;

  @media (min-width: 950px) {
    flex-direction: row;
  }
}

.hero__logo {  
  color: white;
  font-family: "Adamina", serif;  
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin-right: auto;

  @media (min-width: 950px) {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 48px;
    line-height: 65px;
  }
}