@import "src/styles/mixins";
@import "src/styles/vars";

.comments {  
  display: none;

  @media (min-width: 950px) {
    display: block;
    text-align: center;
  }
}

.comments__wrapper {
  position: relative;
  max-width: 1280px;
  padding: 0 80px;
  margin: 0 auto;
}

.comments__toggle {
  position: absolute;
  top: 50px;
  border: none;
  background-color: transparent;

  &--left {
    left: 20px;
  }

  &--right {
    right: 20px;
  }
}

.comments__item {
  display: flex;
  flex-direction: column;
}

.comments__discription {
  margin-top: 30px;
}

.comments__author {
  font-size: 20px;
  line-height: 25px;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 70px;
}

