@import "src/styles/mixins";
@import "src/styles/vars";

.comments {  
  display: none;

  @media (min-width: 950px) {
    display: block;
    text-align: center;
  }

  &--apart {
    display: block;
  }
}

.comments__wrapper {
  position: relative;
  max-width: 1280px;
  padding: 0 80px;
  margin: 0 auto;  
}

.comments__wrapper--apart {
  max-width: 949px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: 950px) {
    position: relative;
    max-width: 1280px;
    padding: 0 80px;
    margin: 0 auto;
  }
}

.comments__toggle {
  position: absolute;
  top: 50px;
  border: none;
  background-color: transparent;

  &--left {
    left: 20px;
  }

  &--right {
    right: 20px;
  }
}


.comments__list {
  @include list-style;
}

.comments__item {
  display: flex;
  flex-direction: column;
}

.comments__description {
  margin-top: 15px;

  @media (min-width: 950px) {
    margin-top: 30px;
  }
}

.comments__author {
  font-size: 20px;
  line-height: 25px;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 70px;

  &--apart {
    margin-bottom: 0;
  }
}

.comments__time {
  font-style: italic;
}
