@import "src/styles/mixins";
@import "src/styles/vars";

.apartments {
  padding-top: 0;

  @media (min-width: 950px) {
    padding-top: 88px;
    margin-bottom: 90px;
  }
}

.apartments__link {
  margin-left: auto;
  margin-bottom: 33px;

  color: #2B486A;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  border-bottom: none;

  @media (min-width: 950px) {
    border-bottom: 1px solid #2B486A;
  }

  &--card {
    margin-bottom: 0;

    // оформление кнопки ПОДРОБНЕЕ пробное
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(201, 241, 241, 0.5);
  }

  &--more {
    display: none;
    @media (min-width: 950px) {
      display: block;
    }
  }  

  &--blank{
    border: none;
    text-align: center;
  }
}

.apartments__list {
  @include list-style;

  display: flex;
  flex-direction: column;

  @media (min-width: 950px) {
    display: grid;  
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 60px;
    column-gap: 83px;
  }
}

.apartments__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  padding: 0;

  &--column {
    flex-direction: column;
  }

  &--icons {
    align-items: center;
  }

  @media (min-width: 950px) {
    padding: 0 16px;
  }
}

.apartments__wrapper--price,
.apartments__wrapper--icons {
  padding: 0 16px;
}

.apartments__card {
  display: flex;  
  max-width: 100%;
  flex-direction: column;
  justify-content: space-around;
  
  margin: 0 auto;

  @media (min-width: 950px) {
    
  max-width: 370px;
  border-radius: 10px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.15);
  }
}

.apartments__heading {
  text-transform: uppercase;
}

.apartments__description {
  font-size: 15px;
  line-height: 22px;
  padding: 0 16px;
}

.apartments__icons {
  display: flex;
}

.apartments__icon {
  margin-right: 3px;

  &:last-child {
    margin-right: 0;
    margin-left: 5px;
  }
}

.apartments__data {
  margin-right: 5px;
}

picture {
  width: 100%;

  @media (min-width: 950px) {
    width: 375px;
    margin: 0 auto;
  }
}

.apartments__img,
.apartment__mainimg,
.apartment__img {
  width: 950px;
  
  @media (min-width: 950px) {
    width: 100%;
    height: auto;
  }
}

.apartments__name {
  color: black;
}

.apartment__gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.apartment__mainimg {
  margin-bottom: 12px;
}

.apartment__prev {
  width: 24%;
}

.apartment__comfortlist {
  max-height: 130px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.apartment__comfortitem {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
}

.apartment__text {
  font-size: 12px;
  line-height: 15px;
}