@import "src/styles/mixins";
@import "src/styles/vars";

.apartments {
  padding-top: 88px;
}

.apartments__link {
  margin-left: auto;
  margin-bottom: 33px;
  
  color: #2B486A;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  border-bottom: 1px solid #2B486A;
}

.apartments {
  margin-bottom: 90px;
}

.apartments__list {
  @include list-style;

  display: grid;  
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 80px;
}

.apartments__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;

  &--column {
    flex-direction: column;
  }
}

.apartments__card {
  margin: 0 auto;

  @media (min-width: 950px) {
  max-width: 370px;
  padding-bottom: 25px;
  min-height: 380px;
  border-radius: 10px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.15);
  }
}

.apartments__wrapper {
  display: flex;
  padding: 0 16px;
}

.apartments__heading {
  text-transform: uppercase;
}

.apartments__discription {
  font-size: 15px;
  line-height: 22px;
  padding: 0 16px;
}

.apartments__icons {
  display: flex;
}

.apartments__icon {
  margin-right: 3px;

  &:last-child {
    margin-right: 0;
    margin-left: 5px;
  }
}

.apartments__data {
  margin-right: 5px;
}